{% load static %}
{% load filters %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/035034ff28.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <header>Learning Management System</header>
      <div class="container">
        <div class="tb_left">
          <table class="tb_1" border='5'>
          <tr>
            <th>Date</th>
            <td>{{ current_time|date:"M, Y" }}</td>
          </tr>
          <tr>
            <th>Goal:
              <a  href="{% url 'goal_set' %}" class="list_a">Set <i class="far fa-plus-square"></i></a>
            {% for latest_goal in goal %}
              {% comment %} <a href="{% url 'goal_update' latest_goal.pk %}">Update <i class="far fa-plus-square"></i></a> / {% endcomment %}
              <a href="{% url 'goal_remove' latest_goal.pk %}" class="list_a"> / Update or Delete <i class="far fa-minus-square"></i></a>
            {% endfor %}
            </th>
            <td>
              {% for latest_goal in goal %}
                {{ latest_goal.goal }} hours / month
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th>
              {% comment %} <a href="">Every day <i class="far fa-plus-square"></i></a> {% endcomment %}
            </th>
            <td>
              {% for latest_goal in goal %}
                {% with latest_goal.goal as dairy_goal %}
                {% comment %} division filter(filters.py) {% endcomment %}
                  {{ dairy_goal|division:30 }} 
                {% endwith %}    
              {% endfor %}
            hours / day</td>
          </tr>
          {% comment %} <tr>
            <th>Total Hour</th>
            <td></td>
          </tr> {% endcomment %}
          </table>
          <div class="card">
              <img src="{% static 'img/icon.png' %}">
              <h6 class="card-title">UserName</h6>
          </div>
        </div> 
        <table class="tb_2" border='10'>
        <tr>
          <th>No.</th>
          <th>DATE</th>
          <th><a href="{% url 'finish' %}" class="list_a">START/FINISH <i class="far fa-plus-square"></i></th>
          <th>DURATION</th>
          {% comment %} <th>TOTAL</th> {% endcomment %}
          <th>MEMO</th>
          <th>DELETE RECORD</th>
        </tr>   
        {% comment %} 繰り返し文 {% endcomment %}
        {% for item in object_list %}
        <tr class="rows" width="80">
        {% comment %} No.(record's id) {% endcomment %}
          <td class="record_col">{{ item.id }}</td>
          {% comment %} Date {% endcomment %}
          <td class="date_row record_col">{{ item.date|date:"M d, Y"}}</td>
          {% comment %} START/FINISH {% endcomment %}
          <td class="record_col">
          {{ item.time|date:"H:i:s" }}
           {% if item.id|divisibleby:"2" %}
            <span>Finish</span>
          {% else %}
            <span>Start</span>
          {% endif %}
          </td>
          <td class="record_col">
            {% comment %} {% extends 'duration_cal.html' %} {% endcomment %}
            {% comment %} {% with total_time as 0 %} {% endcomment %}
            {% for list in object_list %}
              {% if list.id is item.id %}
                  {% if list.id|divisibleby:"2" %} 
                  {% comment %} Finish record's id(even No.column) {% endcomment %}
                      {% with list.time as finish_time %} 
                          {% for list in object_list %}
                              {% comment %} Start record's id (odd No. column) {% endcomment %}
                              {% if list.id|add:"1" is item.id %} 
                                  {% with list.time as start_time %}
                                      {% comment %} Duration(FINISH-START) {% endcomment %} 
                                      {% with start_time|timesince:finish_time as duration %} 
                                          {{ duration }}
                                          {% comment %} {% if duration|get_type == 'datetime.date' %}
                                            date
                                          {% elif duration|get_type == 'timesince.timesince' %}
                                            time
                                          {% elif duration|get_type == 'date.duration' %}
                                            duration
                                          {% else %}
                                              Oh no!
                                          {% endif %} {% endcomment %}
                                      {% endwith %}
                                  {% endwith %}
                              {% endif %}
                          {% endfor %}
                      {% endwith %}
                  {% endif %}
              {% endif %}
            {% endfor %}
            {% comment %} {% endwith %} {% endcomment %}
          </td>
          {% comment %} Duration {% endcomment %}
          {% comment %} <td></td> {% endcomment %}
          <td class="memo_row">{{ item.memo }}</td>
          <td class="record_col delete_btn"><a href="{% url 'delete' item.pk %}" class="delete_btn list_a">Delete</a></td>
        </tr>
        {% endfor %}
        </table>
        {% comment %} <script src="" async defer></script> {% endcomment %}
      </div>
    </body>
</html>