<!DOCTYPE html>
<html>
 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/035034ff28.js" crossorigin="anonymous"></script>
  <title></title>
</head>
 
<body>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <h6 class="card-subtitle mb-2 text-muted">Delete</h6>
    <p class="card-text">Are you sure want to permanently delete this?<p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="DELETE">
    </form>
  </div>
</div>
    
</body>
 
</html>